#root {
	/* max-width: 1280px; */
	margin: 0 auto;
	/* padding: 2rem; */
	text-align: center;
	min-height: 100vh;
	/* align-items: flex-start; */
	overflow-x: hidden;
}

.connectText {
	font-size: 1.2rem;
	padding-left: 4px;
	padding-right: 4px;
	flex-shrink: 0;
	/* font-size: 30px; */
}

.searchContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.goButton {
	/* color and border radius are to make it resemble the "play" button in the main lobby */
	border-radius: 15px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #f8ff1d;
	cursor: pointer;
	transition: border-color 0.25s;
}

.goButton:active {
	background-color: #969a10;
}

.goButton:focus,
.goButton:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.logo {
	margin-top: clamp(60px, 8vh, 120px);
	margin-bottom: 2vh;
	/* height: 150px; */
	height: clamp(120px, 15vw, 150px);
	/* Shrinks from 150px to 100px based on viewport width */
	width: auto;
}

@media (max-width: 483px) {
	.connectText {
		font-size: 1.2rem;
		padding-left: 4px;
		padding-right: 4px;
		flex-shrink: 0;
	}

	.searchContainer {
		flex-direction: column;
		/* gap: 10px; */
		align-items: center;
	}

	.logo {
		margin-top: clamp(80px, 12vh, 100px);;
		height: clamp(80px, 20vh, 120px);
		width: auto;
	}
}