body.no-scroll {
    overflow: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.canvas {
    width: 90vw;
    height: 80vh;
    overflow: hidden;
    margin-top: 10vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.contentBelow {
    padding: 10px;
    text-align: left;
}

.franchiseInfoBoxText {
    margin: 0px;
    text-align: left;
}

.selectionInfo {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.controlInfo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    justify-content: left;
    text-align: left;
    line-height: 1.0;
    font-size: 12px;
}