body.no-scroll {
    overflow: hidden;
}


.canvas {
    width: 90vw;
    height: 80vh;
    overflow: hidden;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.selectionInfo {
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.controlInfo {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    justify-content: left;
    text-align: left;
    line-height: 1.0;
    font-size: 12px;
}